<div class="page-header">
    <h3 class="page-title">
        <span class="page-title-icon bg-gradient-primary text-white mr-2">
            <i class="mdi mdi-account"></i>
        </span>
        <b>Our Staff Member</b>
    </h3>
</div>

<div class="card">
    <div class="card-body">
        <section class="STAFF MEMBERS">
            <div class="content">
                <h1 class="font-weight-bolder ">STAFF MEMBERS</h1>
            </div>
            <br>
            <div class="Container marketing">
                <div class="row">
                    <div class="col-lg-3">
                        <img src="../../assets/images/clg/user.png" class="rounded-circle" style="height: 140px; width: 140px;" ><br>
                        <br>
                        <h5>Dr.vijaykumar N. Pawar</h5>
                        <h5>(Principal)</h5>
                    </div>
                    <div class="col-lg-3">
                        <img src="../../assets/images/clg/user1.png" class="rounded-circle" style="height: 140px; width: 140px;" ><br>

                        <br>
                        <h5>Mrs.Supriya Joshi</h5>
                    </div><!-- /.col-lg-4 -->
                    <div class="col-lg-3">
                        <img src="../../assets/images/clg/user1.png" class="rounded-circle" style="height: 140px; width: 140px;" ><br>

                        <br>
                        <h5>Mrs Varsha Bhole</h5>
                    </div><!-- /.col-lg-4 -->
                    <div class="col-lg-3">
                        <img src="../../assets/images/clg/user1.png" class="rounded-circle" style="height: 140px; width: 140px;" ><br>

                        <br>
                        <h5>Mrs Manasi Deore</h5><br>
                    </div><!-- /.col-lg-4 -->
                    <div class="col-lg-3">
                        <img src="../../assets/images/clg/user1.png" class="rounded-circle" style="height: 140px; width: 140px;" ><br>

                        <br>
                        <h5>Ms Surekha Khot</h5>
                    </div><!-- /.col-lg-4 -->
                    <div class="col-lg-3">
                        <img src="../../assets/images/clg/user1.png" class="rounded-circle" style="height: 140px; width: 140px;" ><br>

                        <br>
                        <h5>Mrs Shaila Pawar</h5>
                    </div><!-- /.col-lg-4 -->
                    <div class="col-lg-3">
                        <img src="../../assets/images/clg/sir.webp" class="rounded-circle" style="height: 140px; width: 140px;" ><br>
                        <br>
                        <h5>Mr Sarin Deore</h5>
                    </div><!-- /.col-lg-4 -->
                    <div class="col-lg-3">
                        <img src="../../assets/images/clg/user1.png" class="rounded-circle" style="height: 140px; width: 140px;" ><br>

                        <br>
                        <h5>Ms Vidya Ingle</h5>
                    </div><!-- /.col-lg-4 -->
                </div>
            </div>
        </section>
    </div>
</div>