<div class="page-header">
    <h3 class="page-title">
        <span class="page-title-icon bg-gradient-primary text-white mr-2">
            <i class="mdi mdi-bank"></i>
        </span>
        <b>Our Institute Information</b>
    </h3>
</div>
<div class="card">
    <div class="card-body">
        <div class="content">
            <h1 class="font-weight-bolder">OUR STORY</h1>
        </div>

        <div class="container">
            <div class="row row-md-4" style="text-align: center;">
                <div class="col" style="padding: 10px; border-right: 0.5px solid gray; margin: 5px;">
                    <h3>12</h3>
                    <p>PH.D Faculty</p>
                </div>
                <div class="col" style="padding: 10px;  margin: 5px; border-right: 0.5px solid gray;">
                    <h3>125</h3>
                    <p>Total Faculty</p>
                </div>
                <div class="col" style="padding: 10px; border-right: 0.5px solid gray;  margin: 5px;">
                    <h3>4279</h3>
                    <p>Student Enroll</p>
                </div>
                <div class="col" style="padding: 10px;   margin: 5px;">
                    <h3>10</h3>
                    <p>Courses</p>
                </div>
            </div>
        </div>
        <br>
        <div class="text-center">
            <img src="../../assets/images/clg/teach.jpg" class="rounded" style="width: 60%; height: 200x;">
        </div>
        <br>
        <br>
        <div class="row">
            <div class="col-md-6 grid-margin ">
                <h4 class="thim-text-title"
                    style="padding: 10px; border-left: 3px solid lightseagreen; margin-right: 5%;">A
                    WARM REGARDS FROM
                    ACPCE</h4>
                <p style="text-align: justify; font-size: 16px;">Sprawled over 3-acre, the campus of ACPCE
                    has ultra-huge
                    infrastructure. It is
                    strategically-located
                    at
                    Kharghar, Navi Mumbai. Set up in 1992 by the eminent leader, Honourable Shri Rohidasji
                    Patil,
                    Jawahar
                    Education Society’s A. C. Patil College of Engineering is a premium technical institute
                    offering
                    graduate, post-graduate professional degrees in Engineering & Management and also Ph.D
                    Program in
                    Engineering.</p>
                <p style="text-align: justify; font-size: 16px;">The institute is approved by the apex
                    bodies, AICTE New Delhi
                    and DTE
                    Maharashtra State. The
                    institute is
                    affiliated to University of Mumbai . As outcome of our efforts for enhancing the quality
                    in
                    education,
                    the institute has been granted accreditation for five years by NAAC. Recently our
                    Institute has
                    received
                    Educational iCON award as ‘Best Engineering College’ for Industry Interaction.</p>
            </div>
            <br>
            <div class="col-md-6 grid-margin ">
                <h4 class="thim-text-title" style="padding: 10px; border-left: 3px solid lightseagreen;">
                    FROM THE PRINCIPAL’S
                    DESK</h4>
                <p style="text-align: justify; font-size: 16px; ">Our main aim is to create, nurture and
                    shape technical
                    professionals with
                    skills to face then ever
                    changing social, economical and technical landscape of our country. We provide high-end
                    undergraduate
                    education and research opportunities in new frontiers of Engineering and Technology. We
                    provide
                    opportunities to the students for interaction with the experts from the industry through
                    Guest
                    Lectures,
                    Industrial Visits, Vocational Training (internship). We have excellent faculty,
                    state-of-the-art
                    infrastructure and laboratories. Spacious campus, digital library and peaceful
                    atmosphere ensures
                    that
                    learning becomes a wonderful experience.</p>

                <p style="text-align: justify; font-size: 16px;">Recently our Institute received Educational
                    iCON award as ‘Best
                    Engineering
                    College’ for Industry
                    interaction.</p>
            </div>
        </div>
        <div class="container">
            <img src="../../assets/images/clg/1.jpg" class=" d-block" style="width:100%">
        </div>
        <br>
        <div class="row">
            <div class="col-md-6 grid-margin ">
                <h4 class="thim-text-title" style="padding: 10px; border-left: 3px solid lightseagreen;">
                    VISION</h4>
                <p style="text-align: justify; font-size: 16px;">To create skilled professionals and
                    engineers for catering the
                    needs of
                    industries and society.</p>
            </div>
            <br>
            <div class="col-md-6 grid-margin ">
                <h4 class="thim-text-title" style="padding: 10px; border-left: 3px solid lightseagreen;">
                    MISSION</h4>
                <ol style="text-align: justify; font-size: 16px;">
                    <li>To provide qualified faculty and required infrastructure to impart quality education
                        inculcating
                        continuous learning attitude</li>
                    <li>To provide platform for the interaction between academia and industry.</li>
                    <li>To inculcate social values and responsible attitude amongst students through
                        co-curricular and
                        extracurricular activities.</li>
                </ol>

            </div>
        </div>
    </div>
</div>