<div class="page-header">
  <h3 class="page-title">
    <span class="page-title-icon bg-gradient-primary text-white mr-2">
      <i class="mdi mdi-table-edit"></i>
    </span>
    <b>All Courses</b>
  </h3>
</div>


<!-- <form >
  <div class="form-group">
    <label for="sel1">Select Department</label>
    <select class="form-control" id="sel1">
      <option>1</option>
      <option>2</option>
      <option>3</option>
      <option>4</option>
    </select>
  </div> -->

<!-- 
  <h4>mat select</h4>
<mat-form-field appearance="fill">
  <mat-label>Favorite animal</mat-label>
  <mat-select [formControl]="animalControl" required>
    <mat-option>--</mat-option>
    <mat-option *ngFor="let animal of animals" [value]="animal">
      {{animal.name}}
    </mat-option>
  </mat-select>
  <mat-error *ngIf="animalControl.hasError('required')">Please choose an animal</mat-error>
  <mat-hint>{{animalControl.value?.sound}}</mat-hint>
</mat-form-field> -->
<!-- </form> -->


<mat-form-field appearance="standard">
  <mat-label>INFORMATION TECHNOLOGY</mat-label>
  <input matInput (keyup)="applyFilter($event)" placeholder="Courses,Lectures" #input>
</mat-form-field>

<div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource" matSort>

    <!-- ID Column -->
    <ng-container matColumnDef="Course Image">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Course Image</th>
        <td mat-cell *matCellDef="let row">  
          <img [src]="row.courseImage" height="50px" width="50px"> 
        </td>
    </ng-container>

    <!-- Progress Column -->
    <ng-container matColumnDef="Course Title">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Course Title </th>
      <td mat-cell *matCellDef="let row"> {{row.courseTitle}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="Course Desc">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Course Desc </th>
      <td mat-cell *matCellDef="let row"> {{row.courseDescription}} </td>
    </ng-container>

    <!-- Fruit Column -->
    <ng-container matColumnDef="delete">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Delete </th>
     
        <td mat-cell *matCellDef="let element" style="align-items: center;"> 
      
          <a style=" cursor: pointer !important; color: red; " (click)="deletecourse(element)" class="mdi mdi-delete
          "></a ></td>
 
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    <!-- Row shown when there is no matching data. -->
    <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell" colspan="4">No data matching in this Course category "{{input.value}}"</td>
    </tr>
  </table>

  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
</div>


<br>

<mat-form-field appearance="standard">
  <mat-label>MECHANICAL ENGINEERING</mat-label>
  <input matInput (keyup)="applyFilter2($event)" placeholder="Courses,Lectures" #inputa>
</mat-form-field>

<div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource1" matSort>

    <!-- ID Column -->
    <ng-container matColumnDef="Course Image">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Course Image</th>
        <td mat-cell *matCellDef="let row">  
          <img [src]="row.courseImage" height="50px" width="50px"> 
        </td>
    </ng-container>

    <!-- Progress Column -->
    <ng-container matColumnDef="Course Title">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Course Title </th>
      <td mat-cell *matCellDef="let row"> {{row.courseTitle}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="Course Desc">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Course Desc </th>
      <td mat-cell *matCellDef="let row"> {{row.courseDescription}} </td>
    </ng-container>

    <!-- Fruit Column -->
    <ng-container matColumnDef="delete">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Delete </th>
     
        <td mat-cell *matCellDef="let element" style="align-items: center;"> 
      
          <a style=" cursor: pointer !important; color: red; " (click)="deletecourse(element)" class="mdi mdi-delete
          "></a ></td>
 
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    <!-- Row shown when there is no matching data. -->
    <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell" colspan="4">No data matching in this Course category "{{inputa.value}}"</td>
    </tr>
  </table>

  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
</div>

<br>

<mat-form-field appearance="standard">
  <mat-label>COMPUTER ENGINEERING</mat-label>
  <input matInput (keyup)="applyFilter3($event)" placeholder="Courses,Lectures" #inputb>
</mat-form-field>

<div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource2" matSort>

    <!-- ID Column -->
    <ng-container matColumnDef="Course Image">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Course Image</th>
        <td mat-cell *matCellDef="let row">  
          <img [src]="row.courseImage" height="50px" width="50px"> 
        </td>
    </ng-container>

    <!-- Progress Column -->
    <ng-container matColumnDef="Course Title">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Course Title </th>
      <td mat-cell *matCellDef="let row" > {{row.courseTitle}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="Course Desc">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Course Desc </th>
      <td mat-cell *matCellDef="let row"> {{row.courseDescription}} </td>
    </ng-container>

    <!-- Fruit Column -->
    <ng-container matColumnDef="delete">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Delete </th>
     
        <td mat-cell *matCellDef="let element" style="align-items: center;"> 
      
          <a style=" cursor: pointer !important; color: red; " (click)="deletecourse(element)" class="mdi mdi-delete
          "></a ></td>
 
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    <!-- Row shown when there is no matching data. -->
    <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell" colspan="4">No data matching in this Course category "{{inputb.value}}"</td>
    </tr>
  </table>

  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
</div>

<br>

<mat-form-field appearance="standard">
  <mat-label>ELECTRICAL ENGINEERING</mat-label>
  <input matInput (keyup)="applyFilter4($event)" placeholder="Courses,Lectures" #inputc>
</mat-form-field>

<div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource3" matSort>

    <!-- ID Column -->
    <ng-container matColumnDef="Course Image">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Course Image</th>
        <td mat-cell *matCellDef="let row">  
          <img [src]="row.courseImage" height="50px" width="50px"> 
        </td>
    </ng-container>

    <!-- Progress Column -->
    <ng-container matColumnDef="Course Title">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Course Title </th>
      <td mat-cell *matCellDef="let row"> {{row.courseTitle}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="Course Desc">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Course Desc </th>
      <td mat-cell *matCellDef="let row"> {{row.courseDescription}} </td>
    </ng-container>

    <!-- Fruit Column -->
    <ng-container matColumnDef="delete">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Delete </th>
     
        <td mat-cell *matCellDef="let element" style="align-items: center;"> 
      
          <a style=" cursor: pointer !important; color: red; " (click)="deletecourse(element)" class="mdi mdi-delete
          "></a ></td>
 
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    <!-- Row shown when there is no matching data. -->
    <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell" colspan="4">No data matching in this Course category "{{inputc.value}}"</td>
    </tr>
  </table>

  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
</div>

<br>

<mat-form-field appearance="standard">
  <mat-label>ELECTRONIC ENGINEERING</mat-label>
  <input matInput (keyup)="applyFilter5($event)" placeholder="Courses,Lectures" #inputd>
</mat-form-field>

<div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource4" matSort>

    <!-- ID Column -->
    <ng-container matColumnDef="Course Image">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Course Image</th>
        <td mat-cell *matCellDef="let row">  
          <img [src]="row.courseImage" height="50px" width="50px"> 
        </td>
    </ng-container>

    <!-- Progress Column -->
    <ng-container matColumnDef="Course Title">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Course Title </th>
      <td mat-cell *matCellDef="let row"> {{row.courseTitle}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="Course Desc">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Course Desc </th>
      <td mat-cell *matCellDef="let row"> {{row.courseDescription}} </td>
    </ng-container>

    <!-- Fruit Column -->
    <ng-container matColumnDef="delete">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Delete </th>
     
        <td mat-cell *matCellDef="let element" style="align-items: center;"> 
      
          <a style=" cursor: pointer !important; color: red; " (click)="deletecourse(element)" class="mdi mdi-delete
          "></a ></td>
 
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    <!-- Row shown when there is no matching data. -->
    <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell" colspan="4">No data matching in this Course category "{{inputd.value}}"</td>
    </tr>
  </table>

  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
</div>

<br>

<mat-form-field appearance="standard">
  <mat-label>ELECTRONICS AND TELECOMMUNICATION ENGINEERING</mat-label>
  <input matInput (keyup)="applyFilter6($event)" placeholder="Courses,Lectures" #inpute>
</mat-form-field>

<div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource5" matSort>

    <!-- ID Column -->
    <ng-container matColumnDef="Course Image">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Course Image</th>
        <td mat-cell *matCellDef="let row">  
          <img [src]="row.courseImage" height="50px" width="50px"> 
        </td>
    </ng-container>

    <!-- Progress Column -->
    <ng-container matColumnDef="Course Title">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Course Title </th>
      <td mat-cell *matCellDef="let row"> {{row.courseTitle}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="Course Desc">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Course Desc </th>
      <td mat-cell *matCellDef="let row"> {{row.courseDescription}} </td>
    </ng-container>

    <!-- Fruit Column -->
    <ng-container matColumnDef="delete">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Delete </th>
     
        <td mat-cell *matCellDef="let element" > 
      
          <a style=" cursor: pointer !important; color: red; margin-left: 10px;" (click)="deletecourse(element)" class="mdi mdi-delete
          "></a ></td>
 
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    <!-- Row shown when there is no matching data. -->
    <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell" colspan="4">No data matching in this Course category "{{inpute.value}}"</td>
    </tr>
  </table>

  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
</div>
  
<br>

<mat-form-field appearance="standard">
  <mat-label>INSTRUMENTATION ENGINEERING</mat-label>
  <input matInput (keyup)="applyFilter1($event)" placeholder="Courses,Lectures" #inputf>
</mat-form-field>

<div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource6" matSort>

    <!-- ID Column -->
    <ng-container matColumnDef="Course Image">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Course Image</th>
        <td mat-cell *matCellDef="let row">  
          <img [src]="row.courseImage" height="50px" width="50px"> 
        </td>
    </ng-container>

    <!-- Progress Column -->
    <ng-container matColumnDef="Course Title">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Course Title </th>
      <td mat-cell *matCellDef="let row"> {{row.courseTitle}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="Course Desc">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Course Desc </th>
      <td mat-cell *matCellDef="let row"> {{row.courseDescription}} </td>
    </ng-container>

    <!-- Fruit Column -->
    <ng-container matColumnDef="delete">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Delete </th>
     
        <td mat-cell *matCellDef="let element" style="align-items: center;"> 
      
          <a style=" cursor: pointer !important; color: red; " (click)="deletecourse(element)" class="mdi mdi-delete
          "></a ></td>
 
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    <!-- Row shown when there is no matching data. -->
    <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell" colspan="4">No data matching in this Course category "{{inputf.value}}"</td>
    </tr>
  </table>

  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
</div>



<ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#fff" type="ball-atom" [fullScreen]="true">
  <p style="color: white"> {{ spx }} </p>
</ngx-spinner>


